<%- include('../partials/header') %>


<body>
  <form id="new-form" action="/flights/tickets" method="POST">
  <label>Seat</label>
<input type="text" name = 'seat'>
<br>
<Label>Price</Label>
<input type="text" name ='price'>
<br>
<input type="submit" value="Buy Ticket">
</body>


</form>


<%- include('../partials/footer') %>