<%- include('../partials/header') %>


<section id = "Show-Page">
<div>Airline</div>
<div><%flight.airline%></div>
<div>Airport</div>
<div><%flight.airport%></div>
<div>Flight#</div>
<div><%flight.flightNo%></div>
<div>Departs</div>
<div><%flight.departs%></div>

</section>












<%- include('partials/footer') %>

